body{
    font-family: arial;
}
img{
    max-width: 100%;
    height: auto;
}
.clear {
    clear: both;
}
.site{
    margin: auto;
    
}
.topo {
    background-color: #fff159;
    padding: 15px 55px;
    
}
.menu{
    float:left;
    padding-top: 5px;
}
.item-menu{
    float:left;
}
.item-menu a{
   text-decoration: none;
    color: black;
    padding-right: 37px;
}
.logo{
    padding-bottom: 20px;
    float: left;
}
.busca{
    float:left;
    margin-left: 10px;
    background-color: white;

}
.busca-texto{
    border: 0;
    padding:  10px;
    
}
.busca-botao{
    border: 0;
    background-color: transparent;
}
.imagem1{
    float:left;
    margin-top:30px;
    margin-left:
    
}
.imagem0{
    float: right;
    margin-top: -65px;
    margin-right: 250px;

}
.imagem2{
    float: left;
    margin-top: 20px;
    margin-left: -500px;

}
.trofeu{
    float: right;
    width: 340px;
}
.informaçoes{
    margin-left: 500px;
    margin-bottom: 100px;
}
.imagem0{
    width: 300px;
    background-color: yellow;
    margin-bottom: 10px;
    float:right;
}
.rodapemenu{
    margin-left: 60px;
    font-size: 20px;
    
    
}
.conteudo{
    background-image: url(../imagem/background201708090304.jpg);
    padding: 50px;
}
.partecentralfundo{
    background:#f5f5f5;
    padding: 13px 16px;
    border-radius: 4px 4px 0 0;
}
.imagenspequenas{
    width: 76px;
    height: 76px;
    border: 1px solid #ddd;
    padding: 2px;
    
}
.precos{
     width: 76px;
    height: 76px;
    border: 1px solid #ddd;
    padding: 2px;
}